<%%= form_for(<%= singular_table_name %>) do |f| %>
  <%%#= render 'form_messages', object: <%= singular_table_name %> %>

  <div class="field-group">
  <%- attributes.each do |attribute| -%>
    <div class="field">
      <%%= f.label :<%= attribute.name %> %>
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
    </div>
  <%- end -%>
  </div>

  <div class="actions">
    <div class="field-group">
      <%%= f.submit "save <%= singular_table_name %>", <%= key_value :class, "'btn btn-primary'" %> %>
      <%%= link_to "cancel", :back, <%= key_value :class, "'btn'" %> %>
    </div>

    <%%#= render 'status', object: <%= singular_table_name %>, f: f %>

    <%%- unless <%= singular_table_name %>.new_record? -%>
    <div class="field-group">
      <%%= link_to "visualize", <%= singular_table_name %>, <%= key_value :class, "'btn'" %> %>
      <%%= link_to "remove", <%= singular_table_name %>, <%= key_value :method, ":delete" %>, <%= key_value :data, "{ confirm: 'Are you sure?' }" %>, <%= key_value :class, "'btn btn-danger'" %> %>
    </div>
    <%%- end -%>
  </div>
<%% end %>
