<div class="publisher small">
  <h1>esqueceu sua senha?</h1>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field-group">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.submit "enviar instruções para recuperar senha", class: 'btn' %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
